---
import Page from './Page.astro'
import Header from './Header.astro'
import DocSider from './DocSider.astro'
import DocTOC from './DocTOC.astro'
import { getDocList, getIsActive } from '../utils'
import '../css/markdown.css'

const { frontmatter } = Astro.props
const pathname = new URL(Astro.request.url).pathname;
const docList = getDocList(pathname)
const activeIndex = docList.findIndex(n => getIsActive(n.path, pathname))
const prevDoc = docList[activeIndex - 1]
const nextDoc = docList[activeIndex + 1]
---

<Page title={frontmatter.title}>
  <Header />
  <DocSider />
  <div class="mx-auto px-4 pt-10 pb-20 max-w-[640px]">
    <div class="markdown-body unreset">
      <slot />
    </div>
    <div class="mt-12 flex justify-between">
      {prevDoc ? (
        <a
          href={prevDoc.path}
          class="border px-4 py-2 w-40 rounded-lg text-xs group hover:border-blue-700"
        >
          <p class="text-gray-400">← Previous</p>
          <p class="font-bold group-hover:text-blue-700">{prevDoc.title}</p>
        </a>
      ) : <span />}
      {nextDoc ? (
        <a
          href={nextDoc.path}
          class="border px-4 py-2 w-40 rounded-lg text-xs group hover:border-blue-700 text-right"
        >
          <p class="text-gray-400">Next →</p>
          <p class="font-bold group-hover:text-blue-700">{nextDoc.title}</p>
        </a>
      ) : <span />}
    </div>
  </div>
  <DocTOC />
</Page>
<script is:inline>
Array.from(document.querySelectorAll('.markdown-body a')).forEach(a => a.setAttribute('target', '_blank'));
</script>