---
import Page from './Page.astro'
import Header from './Header.astro'
import DocSider from './DocSider.astro'
import '../css/markdown.css'
import { docList } from '../data'

const { frontmatter } = Astro.props
const pathname = new URL(Astro.request.url).pathname;
const activePath = pathname.split('/')[3]
const activeIndex = docList.findIndex(n => n.path === activePath)
const prevDoc = docList[activeIndex - 1]
const nextDoc = docList[activeIndex + 1]
---

<Page title={frontmatter.title}>
  <Header />
  <DocSider />
  <div class="mx-auto px-4 pt-10 pb-20 max-w-[640px]">
    <div class="markdown-body">
      <slot />
    </div>
    <div class="mt-12 flex justify-between">
      {prevDoc ? (
        <a
          href={`/docs/${prevDoc.group.replaceAll(' ', '-').toLowerCase()}/${prevDoc.path}`}
          class="border px-4 py-2 w-40 rounded-lg text-xs group hover:border-blue-700"
        >
          <p class="text-gray-400">← Previous</p>
          <p class="font-bold group-hover:text-blue-700">{prevDoc.title}</p>
        </a>
      ) : <span />}
      {nextDoc ? (
        <a
          href={`/docs/${nextDoc.group.replaceAll(' ', '-').toLowerCase()}/${nextDoc.path}`}
          class="border px-4 py-2 w-40 rounded-lg text-xs group hover:border-blue-700 text-right"
        >
          <p class="text-gray-400">Next →</p>
          <p class="font-bold group-hover:text-blue-700">{nextDoc.title}</p>
        </a>
      ) : <span />}
    </div>
  </div>
  <div id="contents" class="fixed top-0 right-0 hidden xl:block mt-12 py-10 px-14 w-[300px] flex-shrink-0">
  </div>
</Page>
<script is:inline>
const headings = Array.from(document.querySelectorAll('.markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6'))
document.getElementById('contents').innerHTML = headings.map(h => `<div>${h.textContent}</div>`).join('')
</script>