---
import Block from '../layouts/Block.astro'
import Layout from '../layouts/Layout.astro'
import iconGAGU from '/assets/icons/gagu.svg'
import iconNPM from '/assets/icons/npm.svg'
import iconDownload from '/assets/icons/download.svg'
import iconSound from '/assets/icons/sound.svg'
import iconFeatureWeb from '/assets/icons/feature-web.svg'
import iconFeaturePlatform from '/assets/icons/feature-platform.svg'
import iconFeatureUsers from '/assets/icons/feature-users.svg'
import iconFeatureLang from '/assets/icons/feature-lang.svg'
import iconFeatureShare from '/assets/icons/feature-share.svg'
import iconFeatureOpen from '/assets/icons/feature-open.svg'
import iconFeatureLight from '/assets/icons/feature-light.svg'
import iconFeatureNoAds from '/assets/icons/feature-no-ads.svg'
import iconAppFileExplorer from '/assets/icons/app-file-explorer.svg'
import iconAppTextEditor from '/assets/icons/app-text-editor.svg'
import iconAppPhotoViewer from '/assets/icons/app-photo-viewer.svg'
import iconAppMusicPlayer from '/assets/icons/app-music-player.svg'
import iconAppVideoPlayer from '/assets/icons/app-video-player.svg'
import iconAppSettings from '/assets/icons/app-settings.svg'
import iconAppAndroidController from '/assets/icons/app-android-controller.svg'
import iconAppMessager from '/assets/icons/app-messager.svg'
import iconAppTerminal from '/assets/icons/app-terminal.svg'
import iconAppReader from '/assets/icons/app-reader.svg'
import iconAppVsCoder from '/assets/icons/app-vs-coder.svg'
import iconAppGameEmulator from '/assets/icons/app-game-emulator.svg'
import { DOWNLOAD_LIST } from '../utils'
import '../css/home.css'

const featureList = [
  { icon: iconFeatureWeb, bg: 'from-cyan-400 to-cyan-600 shadow-cyan-200', title: 'Web-based', desc: 'Use in modern browser' },
  { icon: iconFeaturePlatform, bg: 'from-purple-400 to-purple-600 shadow-purple-200', title: 'Multi-platform', desc: 'Where server-side works' },
  { icon: iconFeatureUsers, bg: 'from-orange-400 to-orange-600 shadow-orange-200', title: 'Multi-user', desc: 'Access and permission control' },
  { icon: iconFeatureLang, bg: 'from-blue-400 to-blue-600 shadow-blue-200', title: 'I18n', desc: 'Supports multiple languages' },
  { icon: iconFeatureShare, bg: 'from-yellow-400 to-yellow-600 shadow-yellow-200', title: 'File Sharing', desc: 'Generate download link' },
  { icon: iconFeatureLight, bg: 'from-sky-400 to-sky-600 shadow-sky-200', title: 'Lightweight', desc: 'Package size is less then 1 MB' },
  { icon: iconFeatureOpen, bg: 'from-green-400 to-green-600 shadow-green-200', title: 'Open Source', desc: 'All code is on GitHub' },
  { icon: iconFeatureNoAds, bg: 'from-red-400 to-red-600 shadow-red-200', title: 'No Ads', desc: 'Pure and simple' },
]

const appList = [
  { icon: iconAppFileExplorer, title: 'File Explorer', desc: 'Core management' },
  { icon: iconAppTextEditor, title: 'Text Editor', desc: 'Text / Markdown' },
  { icon: iconAppPhotoViewer, title: 'Photo Viewer', desc: 'JPG / PNG / GIF / SVG' },
  { icon: iconAppMusicPlayer, title: 'Music Player', desc: 'MP3 / FLAC' },
  { icon: iconAppVideoPlayer, title: 'Video Player', desc: 'MP4 / MKV' },
  { icon: iconAppSettings, title: 'Settings', desc: 'System / Users / Log' },
  { icon: iconAppAndroidController, title: 'Android Controller', desc: 'SMS / Phone / Camera' },
]

const planningAppList = [
  { icon: iconAppMessager, title: 'Messager', desc: 'Talk and send text' },
  { icon: iconAppTerminal, title: 'Terminal', desc: 'Simulator' },
  { icon: iconAppReader, title: 'Reader', desc: 'PDF / EPUB' },
  { icon: iconAppVsCoder, title: 'VS Coder', desc: 'Code editor' },
  { icon: iconAppGameEmulator, title: 'Game Emulator', desc: 'NES / GBA / ..' },
]

const commandList = [
  { id: 'command-1', title: 'Install', code: 'npm i -g gagu' },
  { id: 'command-2', title: 'Show help info', code: 'gagu -h' },
  { id: 'command-3', title: 'Start service', code: 'gagu -o' },
]
---

<Layout title="GAGU - A web-based file management system">

  <div class="w-0 h-0 overflow-hidden">
    <audio id="audio" preload="preload" src="/assets/gagu.mp3" />
  </div>

  <Block className="bg-gradient-to-b from-zinc-900 to-zinc-500 overflow-hidden">
    <div class="py-12 md:py-24 lg:py-32">
      <div class="text-center text-white">
        <div
          class="relative z-10 group cursor-pointer"
          onclick="document.querySelector('#audio').currentTime = 0;document.querySelector('#audio').play();"
        >
          <span class="flex justify-center items-center">
            <span class="text-white text-xs md:text-base opacity-70 md:opacity-30">/'gʌgu/</span>
            <img
              src={iconSound}
              class="opacity-70 md:opacity-30 group-hover:opacity-100 group-active:opacity-60 ml-2 w-4 h-4"
            />
          </span>
          <div class="py-4 flex justify-center">
            <img src={iconGAGU} class="h-4 md:h-7" />
          </div>
        </div>
        <div class="circle-animation relative z-0 blur">
          <div class="mt-20 md:mt-0 absolute rounded-full opacity-80 blur-2xl"></div>
          <div class="mt-20 md:mt-0 absolute rounded-full opacity-80 blur-2xl"></div>
          <div class="mt-20 md:mt-0 absolute rounded-full opacity-80 blur-2xl"></div>
        </div>
        <p class="relative z-10 mt-8 pb-3 md:mt-12 text-3xl md:text-6xl lg:text-7xl font-bold text-transparent bg-clip-text bg-gradient-to-br from-white via-gray-200 to-gray-600">
          A web-based<br/>file management system
        </p>
        <p class="relative z-10 mt-6 md:mt-12 text-xs md:text-lg lg:text-xl text-zinc-400 font-thin">
          Manage files on your different devices in the browser
        </p>
        <p class="relative z-10 text-xs md:text-lg lg:text-xl text-zinc-400 font-thin">
          Works on Windows, macOS, Linux and Android/Termux
        </p>
        <div class="relative z-10 mt-12 flex justify-center">
          <a
            onclick="switchTo('npm')"
            class="mx-2 w-32 md:w-40 h-10 text-xs md:text-sm text-zinc-600
              flex justify-center items-center rounded-full cursor-pointer shadow-lg select-none
              hover:opacity-80 transition-opacity duration-200
              bg-gradient-to-b from-white to-gray-300"
          >
            <img src={iconNPM} class="w-6 h-6" />
            <span class="ml-1 md:ml-2">NPM Install</span>
          </a>
          <a
            onclick="switchTo('download')"
            class="mx-2 w-32 md:w-40 h-10 text-xs md:text-sm text-zinc-600
              flex justify-center items-center rounded-full cursor-pointer shadow-lg select-none
              hover:opacity-80 transition-opacity duration-200
              bg-gradient-to-b from-white to-gray-300"
          >
            <img src={iconDownload} class="w-6 h-6" />
            <span class="ml-1 md:ml-2">Download</span>
          </a>
        </div>
        <div
          id="getting-panel-container"
          class="max-h-0 flex justify-center transition-all duration-300 overflow-hidden"
        >
          <div
            id="getting-npm"
            class="getting-panel hidden mt-6 md:mt-8 lg:mt-12 pb-2 w-[480px] max-w-full"
          >
            {commandList.map(({ id, title, code }) => (
              <div class="mb-4 text-sm">
                <p class="text-zinc-400 text-xs select-none">{title}</p>
                <code class="relative block mt-2 px-4 py-2 text-left rounded-md bg-black bg-opacity-40 text-zint-200 before:content-['$'] before:opacity-40 group">
                  {code}
                  <div
                    id={id}
                    data-clicked="false"
                    class="copy-button md:opacity-0 group-hover:opacity-100 select-none
                      absolute top-0 right-0 bottom-0 w-12 cursor-pointer
                      bg-center bg-no-repeat"
                    onclick={`copy('${code}', '${id}')`}
                  />
                </code>
              </div>
            ))}
          </div>
          <div
            id="getting-download"
            class="getting-panel hidden mt-6 md:mt-8 lg:mt-12 pb-2 w-[480px] max-w-full"
          >
            <p class="text-zinc-400 text-xs select-none">Releases</p>
            <div class="mt-2 py-2 text-left rounded-md bg-black bg-opacity-40">
              {DOWNLOAD_LIST.map(({ svg, title, size, url }) => (
                <a
                  class="relative flex justify-between px-4 py-2
                    text-left text-sm text-zinc-400 tracking-widers cursor-pointer
                    hover:text-zinc-200 hover:bg-white hover:bg-opacity-10 active:bg-opacity-5
                    transition-all duration-100"
                  href={url}
                >
                  <span>
                    <span set:html={svg}></span>&nbsp;&nbsp;{title}
                  </span>
                  <span>{size}</span>
                </a>
              ))}
            </div>
          </div>
        </div>
        <p class="relative z-10 mt-4 text-xs text-zinc-400">
          <span>v{import.meta.env.PUBLIC_VERSION} (Alpha)</span>
          <a class="ml-2 underline" href="/docs/others/changelog">Changelog</a>
        </p>
      </div>
    </div>
    <div class="h-24 md:h-48 lg:h-64"></div>
  </Block>

  <Block className="bg-gradient-to-b from-zinc-500 via-white to-white">
    <div class="-translate-y-24 md:-translate-y-48 lg:-translate-y-64 rounded md:rounded-xl shadow-xl overflow-hidden select-none">
      <div class="px-1 md:px-3 w-full h-3 md:h-6 bg-white flex items-center">
        <div class="mr-1 w-1 h-1 md:w-3 md:h-3 rounded-full bg-gray-300"></div>
        <div class="mr-1 w-1 h-1 md:w-3 md:h-3 rounded-full bg-gray-300"></div>
        <div class="mr-1 w-1 h-1 md:w-3 md:h-3 rounded-full bg-gray-300"></div>
      </div>
      <div class="relative group">
        <img
          alt="developing"
          src="/assets/screenshots/screenshot-desktop-light.jpg"
          class="w-full h-full max-w-full max-h-full"
        />
        <a
          href="https://www.bilibili.com/video/BV1W84y1h71d"
          target="_blank"
          class="absolute inset-0 md:opacity-0 group-hover:opacity-100 bg-black bg-opacity-20 transition-opacity duration-300 flex justify-center items-center"
        >
          <div class="w-16 h-16 rounded-full bg-black bg-opacity-70 flex justify-center items-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
              <path fill="#fff" d="M19.376 12.416L8.777 19.482A.5.5 0 0 1 8 19.066V4.934a.5.5 0 0 1 .777-.416l10.599 7.066a.5.5 0 0 1 0 .832z"/>
            </svg>
          </div>
        </a>
      </div>
    </div>
    <div class="-translate-y-10 md:-translate-y-20 lg:-translate-y-28">
      <h2 class="text-2xl md:text-4xl text-center font-bold text-zinc-900">Features</h2>
      <p class="mt-4 text-sm md:text-base lg:text-lg text-center text-zinc-600">
        Mainly for individuals,<br class="md:hidden" /> families or small teams to use in LAN
      </p>
      <div class="mt-12 flex flex-wrap justify-center">
        {featureList.map(({ icon, title, desc, bg }) => (
          <div class="py-8 text-center w-1/3 md:w-1/4">
            <div
              class={`
                mx-auto w-12 h-12 bg-center bg-no-repeat rounded-full shadow-xl
                md:w-16 md:h-16
                lg:w-20 lg:h-20
                flex justify-center items-center
                bg-gradient-to-br ${bg}
              `}
            >
              <img
                class="w-1/2 opacity-90"
                src={icon}
              />
            </div>
            <p class="mt-6 text-sm md:text-base text-zinc-900">{title}</p>  
            <p class="mt-1 px-2 text-xs text-zinc-500">{desc}</p>  
          </div>
        ))}
      </div>
    </div>
  </Block>

  <Block className="bg-gradient-to-b from-zinc-900 to-zinc-600">
    <div class="py-16 md:py-32">
      <h2 class="text-2xl md:text-4xl text-center font-bold text-zinc-100">Apps</h2>
      <p class="mt-4 text-sm md:text-base lg:text-lg text-center text-zinc-300">
        GAGU provides some basic applications
      </p>
      <div class="mt-12 flex flex-wrap select-none">
        {appList.map(({ icon, title, desc }) => (
          <div class="px-8 md:px-12 py-4 md:py-8 lg:py-12 w-full md:w-1/2 lg:w-1/3 xl:w-1/4 rounded-2xl flex justify-start cursor-pointer hover:bg-zinc-600">
            <div
              class="flex-shrink-0 w-12 md:w-20 h-12 md:h-20 rounded-lg md:rounded-2xl bg-center bg-no-repeat bg-cover shadow-lg"
              style={`background-image: url("${icon}");`}
            >
            </div>
            <div class="ml-4">
              <p class="text-base md:text-lg font-bold text-zinc-100">{title}</p>  
              <p class="mt-1 text-xs md:text-sm text-zinc-400">{desc}</p>  
            </div>
          </div>
        ))}
      </div>
      <p class="mt-12 text-sm md:text-base lg:text-lg text-center text-zinc-300">
        Apps in planning,<br/>
        implemented using third-party libraries
      </p>
      <div class="mt-12 flex flex-wrap select-none">
        {planningAppList.map(({ icon, title, desc }) => (
          <div class="px-8 md:px-12 py-4 md:py-8 lg:py-12 w-full md:w-1/2 lg:w-1/3 xl:w-1/4 rounded-2xl flex justify-start">
            <div
              class="flex-shrink-0 w-12 md:w-20 h-12 md:h-20 rounded-lg md:rounded-2xl bg-center bg-no-repeat bg-cover shadow-lg"
              style={`background-image: url("${icon}");`}
            >
            </div>
            <div class="ml-4">
              <p class="text-base md:text-lg font-bold text-zinc-100">{title}</p>  
              <p class="mt-1 text-xs md:text-sm text-zinc-400">{desc}</p>  
            </div>
          </div>
        ))}
      </div>
    </div>
  </Block>

</Layout>
<script is:inline>
const copy = (str, id) => {
  const input = document.createElement('textarea')
  document.body.appendChild(input)
  input.value = str
  input.select()
  document.execCommand('Copy')
  document.body.removeChild(input)
  const button = document.getElementById(id)
  button.setAttribute('data-clicked', 'true')
  setTimeout(() => {
    button.setAttribute('data-clicked', 'false')
  }, 2000)
}

const switchTo = (id) => {
  document.getElementById('getting-panel-container').style.maxHeight = '500px'
  document.querySelectorAll('.getting-panel').forEach(div => div.style.display = 'none')
  document.getElementById(`getting-${id}`).style.display = 'block'
}
</script>
