---
import Block from '../layouts/Block.astro'
import Layout from '../layouts/Layout.astro'
import iconGAGU from '../img/icons/gagu.svg'
import iconNPM from '../img/icons/npm.svg'
import iconDownload from '../img/icons/download.svg'
import iconSound from '../img/icons/sound.svg'
import iconFeatureWeb from '../img/icons/feature-web.svg'
import iconFeaturePlatform from '../img/icons/feature-platform.svg'
import iconFeatureUsers from '../img/icons/feature-users.svg'
import iconFeatureLang from '../img/icons/feature-lang.svg'
import iconFeatureShare from '../img/icons/feature-share.svg'
import iconFeatureOpen from '../img/icons/feature-open.svg'
import iconFeatureLight from '../img/icons/feature-light.svg'
import iconFeatureNoAds from '../img/icons/feature-no-ads.svg'
import iconAppFileExplorer from '../img/icons/app-file-explorer.svg'
import iconAppTextEditor from '../img/icons/app-text-editor.svg'
import iconAppPhotoViewer from '../img/icons/app-photo-viewer.svg'
import iconAppMusicPlayer from '../img/icons/app-music-player.svg'
import iconAppVideoPlayer from '../img/icons/app-video-player.svg'
import iconAppSettings from '../img/icons/app-settings.svg'
import iconAppMessager from '../img/icons/app-messager.svg'
import iconAppTerminal from '../img/icons/app-terminal.svg'
import iconAppReader from '../img/icons/app-reader.svg'
import iconAppVsCoder from '../img/icons/app-vs-coder.svg'
import '../css/home.css'

const featureList = [
  { icon: iconFeatureWeb, bg: 'bg-cyan-400', title: 'Web-based', desc: 'Use in browser' },
  { icon: iconFeaturePlatform, bg: 'bg-purple-400', title: 'Multi-platform', desc: 'Where server-side works' },
  { icon: iconFeatureUsers, bg: 'bg-orange-400', title: 'Multi-user', desc: 'Access and permission control' },
  { icon: iconFeatureLang, bg: 'bg-blue-400', title: 'I18n', desc: 'Supports multiple languages' },
  { icon: iconFeatureShare, bg: 'bg-yellow-400', title: 'File Sharing', desc: 'Generate download link' },
  { icon: iconFeatureLight, bg: 'bg-sky-400', title: 'Lightweight', desc: 'Package size is less then 1 MB' },
  { icon: iconFeatureOpen, bg: 'bg-green-400', title: 'Open Source', desc: 'All code is on GitHub' },
  { icon: iconFeatureNoAds, bg: 'bg-red-400', title: 'No Ads', desc: 'Pure and simple' },
]

const appList = [
  { icon: iconAppFileExplorer, title: 'File Explorer', desc: 'Core management' },
  { icon: iconAppTextEditor, title: 'Text Editor', desc: 'Text / Markdown' },
  { icon: iconAppPhotoViewer, title: 'Photo Viewer', desc: 'JPG / PNG / GIF / SVG' },
  { icon: iconAppMusicPlayer, title: 'Music Player', desc: 'MP3 / FLAC' },
  { icon: iconAppVideoPlayer, title: 'Video Player', desc: 'MP4 / MKV' },
  { icon: iconAppSettings, title: 'Settings', desc: 'System / Users / Log' },
]

const planningAppList = [
  { icon: iconAppMessager, title: 'Messager', desc: 'Talk and send text' },
  { icon: iconAppTerminal, title: 'Terminal', desc: 'Simulator' },
  { icon: iconAppReader, title: 'Reader', desc: 'PDF / EPUB' },
  { icon: iconAppVsCoder, title: 'VS Coder', desc: 'Code editor' },
]

const commandList = [
  { title: 'Install with NPM', code: 'npm i -g gagu' },
  { title: 'Show help info', code: 'gagu -h' },
]
---

<Layout title="GAGU - A web-based file management system">

  <div class="w-0 h-0 overflow-hidden">
    <audio id="audio" preload="preload" src="/gagu.mp3" />
  </div>

  <Block className="bg-gradient-to-b from-gray-800 to-gray-500 overflow-hidden">
    <div class="py-12 md:py-24 lg:py-32">
      <div class="text-center text-white">
        <div
          class="relative z-10 group cursor-pointer"
          onclick="document.querySelector('#audio').currentTime = 0;document.querySelector('#audio').play();"
        >
          <span class="text-gray-400 text-xs md:text-base flex justify-center items-center">
            <span>/'gʌgu/</span>
            <img src={iconSound} class="md:opacity-30 group-hover:opacity-100 group-active:opacity-80 ml-2 w-4 h-4" />
          </span>
          <div class="py-4 flex justify-center">
            <img src={iconGAGU} class="h-6 md:h-8" />
          </div>
        </div>
        <div class="circle-animation relative z-0 blur">
          <div class="mt-20 md:mt-0 absolute rounded-full opacity-80 blur-2xl"></div>
          <div class="mt-20 md:mt-0 absolute rounded-full opacity-80 blur-2xl"></div>
          <div class="mt-20 md:mt-0 absolute rounded-full opacity-80 blur-2xl"></div>
        </div>
        <p class="relative z-10 mt-12 text-3xl md:text-6xl lg:text-7xl font-bold">A web-based<br/>file management system</p>
        <p class="relative z-10 mt-12 text-sm md:text-lg lg:text-xl text-gray-400 font-thin">Manage files on your different devices in the browser</p>
        <p class="relative z-10 text-sm md:text-lg lg:text-xl text-gray-400 font-thin">Works on Windows, macOS, Linux and Android/Termux</p>
        <div class="relative z-10 mt-12 flex justify-center">
          <a
            onclick="jumpTo('npm')"
            class="mx-2 w-32 md:w-40 h-10 text-xs md:text-sm bg-gray-100 text-gray-600
              flex justify-center items-center rounded-full cursor-pointer shadow-lg select-none
              hover:opacity-80 transition-opacity duration-200"
          >
            <img src={iconNPM} class="w-6 h-6" />
            <span class="ml-1 md:ml-2">NPM Install</span>
          </a>
          <a
            onclick="jumpTo('download')"
            class="mx-2 w-32 md:w-40 h-10 text-xs md:text-sm bg-gray-100 text-gray-600
              flex justify-center items-center rounded-full cursor-pointer shadow-lg select-none
              hover:opacity-80 transition-opacity duration-200"
          >
            <img src={iconDownload} class="w-6 h-6" />
            <span class="ml-1 md:ml-2">Download</span>
          </a>
        </div>
        <p class="relative z-10 mt-4 text-xs text-gray-400">Version: {import.meta.env.PUBLIC_VERSION}(Beta)</p>
      </div>
    </div>
    <div class="h-24 md:h-48 lg:h-64"></div>
  </Block>

  <Block className="">
    <div class="-translate-y-24 md:-translate-y-48 lg:-translate-y-64 rounded md:rounded-xl shadow-xl overflow-hidden select-none">
      <div class="px-1 md:px-3 w-full h-4 md:h-6 bg-white flex items-center">
        <div class="mr-1 w-2 h-2 md:w-3 md:h-3 rounded-full bg-gray-300"></div>
        <div class="mr-1 w-2 h-2 md:w-3 md:h-3 rounded-full bg-gray-300"></div>
        <div class="mr-1 w-2 h-2 md:w-3 md:h-3 rounded-full bg-gray-300"></div>
      </div>
      <img
        alt="developing"
        src="https://jisuowei.com/file/gagu.jpg"
        class="w-full h-full max-w-full max-h-full"
      />
    </div>
    <div class="-translate-y-10 md:-translate-y-20 lg:-translate-y-28">
      <h2 class="text-2xl md:text-4xl text-center font-bold text-gray-900">Features</h2>
      <p class="mt-4 text-sm md:text-base lg:text-lg text-center text-gray-600">
        Mainly for individuals,<br class="md:hidden" /> families or small teams to use in LAN
      </p>
      <div class="mt-12 flex flex-wrap justify-center">
        {featureList.map(({ icon, title, desc, bg }) => (
          <div class="py-8 text-center w-1/3 md:w-1/4">
            <div
              class={`mx-auto w-12 h-12 bg-center bg-no-repeat rounded-full ${bg}`}
              style={`background-image: url("${icon}");background-size: 50%;`}
            />
            <p class="mt-6 text-sm md:text-base text-gray-900">{title}</p>  
            <p class="mt-1 px-2 text-xs text-gray-500">{desc}</p>  
          </div>
        ))}
      </div>
    </div>
  </Block>

  <Block className="bg-gradient-to-b from-gray-900 to-gray-600">
    <div class="py-16 md:py-32">
      <h2 class="text-2xl md:text-4xl text-center font-bold text-gray-100">Apps</h2>
      <p class="mt-4 text-sm md:text-base lg:text-lg text-center text-gray-300">
        GAGU provides some basic applications
      </p>
      <div class="mt-12 flex flex-wrap select-none">
        {appList.map(({ icon, title, desc }) => (
          <div class="px-8 md:px-12 py-4 md:py-8 lg:py-12 w-full md:w-1/2 lg:w-1/3 xl:w-1/4 rounded-2xl flex justify-start cursor-pointer hover:bg-gray-600">
            <div
              class="flex-shrink-0 w-12 md:w-20 h-12 md:h-20 rounded-lg md:rounded-2xl bg-center bg-no-repeat bg-cover shadow-lg"
              style={`background-image: url("${icon}");`}
            >
            </div>
            <div class="ml-4">
              <p class="text-base md:text-lg font-bold text-gray-100">{title}</p>  
              <p class="mt-1 text-xs md:text-sm text-gray-400">{desc}</p>  
            </div>
          </div>
        ))}
      </div>
      <p class="mt-12 text-sm md:text-base lg:text-lg text-center text-gray-300">
        Apps in planning,<br/>
        implemented using third-party libraries
      </p>
      <div class="mt-12 flex flex-wrap select-none">
        {planningAppList.map(({ icon, title, desc }) => (
          <div class="px-8 md:px-12 py-4 md:py-8 lg:py-12 w-full md:w-1/2 lg:w-1/3 xl:w-1/4 rounded-2xl flex justify-start">
            <div
              class="flex-shrink-0 w-12 md:w-20 h-12 md:h-20 rounded-lg md:rounded-2xl bg-center bg-no-repeat bg-cover shadow-lg"
              style={`background-image: url("${icon}");`}
            >
            </div>
            <div class="ml-4">
              <p class="text-base md:text-lg font-bold text-gray-100">{title}</p>  
              <p class="mt-1 text-xs md:text-sm text-gray-400">{desc}</p>  
            </div>
          </div>
        ))}
      </div>
    </div>
  </Block>

  <Block className="bg-gradient-to-b from-gray-600 to-gray-500">
    <div class="py-16 md:py-32 flex flex-wrap justify-center bg-gray-100 rounded-t-2xl">
      <div id="npm" class="w-full lg:w-1/2 px-0 md:px-12 lg:px-24">
        <h2 class="text-2xl md:text-4xl text-center font-bold">NPM Install</h2>
        <p class="mt-4 text-sm md:text-base lg:text-lg text-center text-gray-500">
          Windows · macOS · Linux · Termux
        </p>
        <div class="mt-12 px-4 md:px-0">
          {commandList.map(({ title, code }) => (
            <div class="mb-4">
              <p class="text-gray-500 text-sm">{title}:</p>
              <code class="relative block mt-2 px-4 py-2 rounded-md bg-gray-200 text-gray-700 before:content-['$'] group">
                {code}
                <div
                  class="copy-button md:hidden group-hover:block select-none
                    absolute top-0 right-0 bottom-0 w-12 cursor-pointer
                    bg-center bg-no-repeat"
                  onclick={`copy('${code}')`}
                />
              </code>
            </div>
          ))}
        </div>
        <div class="pt-4 text-center text-gray-400 text-sm">
          More info refer to <a href="/docs/usage/installation" class="text-blue-500">here</a>
        </div>
      </div>
      <div id="download" class="mt-24 lg:mt-0 w-full lg:w-1/2">
        <h2 class="text-2xl md:text-4xl text-center font-bold">Download</h2>
        <p class="mt-4 text-sm md:text-base lg:text-lg text-center text-gray-500">
          Windows · macOS · Linux
        </p>
        <div class="mt-16 text-center">
          <p>Stable package built via Vercel/pkg,</p>
          <p>will be available after v0.1.0 released.</p>
          <p class="block mt-8 text-sm text-gray-500">Build package by yourself with</p>
          <code class="block mt-1 text-sm text-gray-500">`npm run build:bin && npm run pkg`</code>
          <p class="block mt-1 text-sm text-gray-500">in local development.</p>
        </div>
      </div>
    </div>
  </Block>

</Layout>
<script is:inline>
const copy = (str) => {
  const input = document.createElement('textarea')
  document.body.appendChild(input)
  input.value = str
  input.select()
  document.execCommand('Copy')
  document.body.removeChild(input)
}

const jumpTo = (id) => {
  const top = document.getElementById(id).getBoundingClientRect().top - 40
  window.scrollTo({ top, behavior: 'smooth' })
}
</script>
